<!doctype html>
<html>
    <head>
        <title>Url Shortener</title>
        <link href="./style.css" rel="stylesheet">
    </head>
    <body>
<div class="container">
    {{{body}}}
    </div>
    </body>
</html>