<!doctype html>
<html>
    <head>
        <title>Url Shortener</title>
        <link href="./style.css" rel="stylesheet">
    </head>
    <body>
<div class="container">
    {{{body}}}
    <div class="footer text-center">DESIGNED & CODED BY <a href="http://codepen.io/Chan11/" target="_blank"><strong>CHANDRAHAS</strong></a></div>
    </div>
    </body>
</html>
